.carrousel {
    height: 415px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    @media (max-width: 1275px) {
      height: 255px;
    }
    &__arrow {
        display: flex;
        width: 96px;
        justify-content: center;
        @media (max-width: 1275px) {
          width: 40px;
        }
        i {
            display: flex;
            align-items: center;
            font-size: 80px;
            color: white;
            @media (max-width: 1275px) {
                font-size: 30px;
            }
        }
    }
    &__nbPage {
        display: flex;
        align-items: end;
        font-size: 18px;
        color: white;
        padding: 20px;
    }
    .--hidden {
        display: none;
    }
}