.dropdown {
    &__titre {
        background-color: #FF6060;
        padding: 0px 20px 0px 15px;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: white;
        h2 {
            font-size: 24px;
            @media (max-width: 1275px) {
                font-size: 15px;
            }
        }
        &__collapse {
            background-color: rgba(0, 0, 0, 0);
            font-size: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            @media (max-width: 1275px) {
                font-size: 15px;
            }
            .fa-solid {
                transform: rotate(0deg);
                transition: transform 0.5s linear;
                &.open {
                    transform: rotate(-180deg);
                }
            }
        }
    }
    &__contenu {
        background-color: #F6F6F673;
        padding: 0 20px;
        border-radius: 10px 10px 5px 5px;
        margin: 0;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.5s linear, padding 0.5s linear;
        font-size: 18px;
        @media (max-width: 1275px) {
            font-size: 12px;
        }
        &.open {
            max-height: 500px;
            padding: 20px;
        }
        ul {
            padding: 0;
            margin: 0;
            li {
                list-style-type: none;
                padding: 2px;
            }
        }
    }
}