footer {
    margin-top: 50px;
    width: 100%;
    height: 209px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    img {
        margin-top: 70px;
        margin-bottom: 20px;
        width: 122px;
        height: 39px;
        @media (max-width: 1275px) {
            margin-bottom: 0px;
        }
    }
}